@import '~@/assets/sass/mixin';

.boss-raid-close-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  margin-top: 44px;
  margin-bottom: 44px;
  height: 300px;
  color: #fff;
  text-align: center;
  background: url('https://file.mir4global.com/xdraco/img/mobile/banner-boss-raid/bg-boss-raid-closed.webp') 50% / cover no-repeat;

  &__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 0.95;
    letter-spacing: -0.8px;

    span {
      display: block;
    }

    &-highlight {
      line-height: 2;
      font-size: 18px;
      display: block;
      background: linear-gradient(to bottom, #ff001f 0%, #f60 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    padding: 0 16px;
    font-size: 14px;
    max-width: 440px;
    word-break: keep-all;
  }
}

@include pc {
  .boss-raid-close-banner {
    background-image: url('https://file.mir4global.com/xdraco/img/desktop/banner-boss-raid/bg-boss-raid-closed.webp');

    &__title {
      font-size: 40px;

      &-highlight {
        font-size: 24px;
      }
    }

    &__description {
      padding: 0;
      font-size: 16px;
    }
  }
}
