@import "~@/assets/sass/mixin";

.mirage-hidden-valley-play {
  // mirage/valley-capture/_id
  .wrap-play {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(#fff, 0.1);

    &::before {
      content: none;
    }

    &__header {
      flex-flow: column;
      margin-bottom: 25px;
      padding: 0;
      color: #fff;

      .v-expansion-panel-header__icon {
        position: absolute;
        top: 24px;
        right: 8px;
        width: 40px;
        height: 40px;
        margin: 0;

        i {
          display: none;
        }

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: url("https://file.mir4global.com/xdraco/img/common/mirage/icon-arrow.webp") 0 0 /
              cover no-repeat;
          transform: rotate(180deg);
          transition: transform 0.3s;
        }
      }

      &.v-expansion-panel-header--active {
        .v-expansion-panel-header__icon {
          &::before {
            transform: rotate(0);
          }
        }
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 500;
      height: 23px;
      line-height: 23px;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      margin: 32px 0 16px;
      padding: 0 56px 0 16px;
      column-gap: 8px;

      &__left {
        display: flex;
        align-items: center;
      }

      &__slot {
        margin-left: 8px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 56px;

        .v-icon {
          position: relative;
          width: 16px;
          height: 16px;
          margin-left: 8px;
          background: url("https://file.mir4global.com/xdraco/img/common/mirage/ico-16-tooltip.webp") 0 0 / cover no-repeat;
          font-size: 0;
          cursor: pointer;
        }

        p {
          line-height: 16px;
          font-size: 14px;
          color: rgba(#fff, 0.6);
          margin: 0;

          span {
            color: #fff;
          }
        }
      }

      &__right {
        display: flex;
        align-items: center;

        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
        padding: 4px 6px;
        font-size: 12px;

        em {
          margin-left: 2px;
          font-weight: 500;
          color: #ffe600;
        }
      }
    }

    ul {
      list-style: none;
    }

    &__bottom {
      display: flex;
      align-items: center;
      width: 100%;
      background-image: linear-gradient(
          to top,
          rgba(255, 255, 255, 0.1) 100%,
          rgba(255, 255, 255, 0.05) 0%
      );
      justify-content: space-between;

      &__info {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        padding: 12px 16px;
        flex: 1;

        li {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          font-size: 16px;
          max-width: 214px;

          span {
            font-size: 12px;
            color: rgba(#fff, 0.5);
            white-space: nowrap;
          }

          em {
            display: flex;
            align-items: center;

            p {
              margin: 0;
            }
          }
        }
      }

      .job {
        display: flex;
        align-items: center;
        gap: 0 4px;
        margin: 0;
        padding: 0 16px;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;

          &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
          }

          &[data-character-class="1"] {
            &::before {
              background: url("https://file.mir4global.com/xdraco/img/common/mirage/logo-class-warrior.webp") 0 0 / cover no-repeat;
            }
          }

          &[data-character-class="2"] {
            &::before {
              background: url("https://file.mir4global.com/xdraco/img/common/mirage/logo-class-sorcerer.webp") 0 0 / cover no-repeat;
            }
          }

          &[data-character-class="3"] {
            &::before {
              background: url("https://file.mir4global.com/xdraco/img/common/mirage/logo-class-taoist.webp") 0 0 / cover no-repeat;
            }
          }

          &[data-character-class="4"] {
            &::before {
              background: url("https://file.mir4global.com/xdraco/img/common/mirage/logo-class-arbalist.webp") 0 0 / cover no-repeat;
            }
          }

          &[data-character-class="5"] {
            &::before {
              background: url("https://file.mir4global.com/xdraco/img/common/mirage/logo-class-lancer.webp") 0 0 / cover no-repeat;
            }
          }

          &[data-character-grade="5"] {
            background: url("https://file.mir4global.com/xdraco/img/common/mirage/bg-hexagon-legendary.webp") 0 0 / cover no-repeat;
          }

          &[data-character-grade="4"] {
            background: url("https://file.mir4global.com/xdraco/img/common/mirage/bg-hexagon-epic.webp") 0 0 / cover no-repeat;
          }

          &[data-character-grade="3"] {
            background: url("https://file.mir4global.com/xdraco/img/common/mirage/bg-hexagon-rare.webp") 0 0 / cover no-repeat;
          }

          &[data-character-grade="2"] {
            background: url("https://file.mir4global.com/xdraco/img/common/mirage/bg-hexagon-uncommon.webp") 0 0 / cover no-repeat;
          }

          &[data-character-grade="1"] {
            background: url("https://file.mir4global.com/xdraco/img/common/mirage/bg-hexagon-common.webp") 0 0 / cover no-repeat;
          }

          &.percent {
            background: url("https://file.mir4global.com/xdraco/img/common/mirage/bg-hexagon-rate.webp") 0 0 / cover no-repeat;
            line-height: 24px;
            font-size: 12px;
            font-weight: bold;
            color: #000;

            &::before {
              display: none;
            }

            &.none {
              background: url("https://file.mir4global.com/xdraco/img/common/mirage/bg-hexagon-rare-none.webp") 0 0 / cover no-repeat;
              color: #fff;
            }
          }
        }
      }
    }

    &__contents {
      .v-expansion-panel-content__wrap {
        padding: 0 0 25px;

        .char-list {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
        }
      }
    }
  }

  .result {
    margin-top: 24px;

    &__header {
      display: flex;
      margin-bottom: 16px;
      padding: 16px;
      color: #fff;

      .wrap-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        width: 100%;
        row-gap: 12px;

        &__title {
          font-size: 20px !important;
        }

        &__date {
          font-size: 10px;
          font-weight: normal;
        }

        &__top {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: auto;

          > div {
            display: flex;
            justify-content: flex-start;

            p {
              font-size: 16px;
              font-weight: bold;
              margin: 0;

              &.half {
                position: relative;
                margin-left: 8px;
                padding-left: 28px;

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  width: 20px;
                  height: 20px;
                  margin-top: -10px;
                  background: url("https://file.mir4global.com/xdraco/img/common/mirage/ico-20-battle.webp") 0 0 / cover no-repeat;
                }
              }
            }
          }
        }
      }

      .btn-primary {
        width: 108px;
        height: 40px;
        margin-left: 16px;

        span {
          position: relative;
          padding-left: 24px;
          font-weight: 500;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            background: url("https://file.mir4global.com/xdraco/img/common/mirage/ico-20-ranking.webp") 0 0 / cover no-repeat;
          }
        }
      }
    }

    &__contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 16px;
      background: rgb(255, 76, 0);
      background: linear-gradient(
          19deg,
          rgba(255, 76, 0, 1) 0%,
          rgba(255, 232, 158, 1) 50%,
          rgba(255, 64, 0, 1) 100%
      );
      color: #000;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        padding-left: 0;
        width: calc(100% - 32px);
        margin: 16px;
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        font-size: 12px;

        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        .v-icon {
          width: 16px;
          height: 16px;
          background: url('https://file.mir4global.com/xdraco/img/common/mirage/ico-16-tooltip-black.webp') 0 0/cover no-repeat;
          font-size: 0;
          cursor: pointer;
        }

        &:first-child,
        &:nth-child(2) {
          padding: 8px 0 16px;
          border-bottom: 1px solid rgba(#000, 0.2);
        }

        &:nth-child(3),
        &:last-child {
          padding: 16px 0 8px;
        }

        &:nth-child(2n+1) {
          padding-right: 16px;
          &:after {
            content: "";
            position: absolute;
            right: 0;
            height: calc(100% - 32px);
            width: 1px;
            background-color: rgba(#000, 0.2);
          }
        }

        &:nth-child(2n) {
          padding-left: 16px;
        }

        em {
          font-size: 18px;
          font-weight: bold;
        }
      }

      .btn-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        max-width: 80px;
        min-width: 0;
        height: 34px;
        background-color: #fff;
        font-size: 12px;
        color: #000;
      }

      > p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 58px;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        color: rgba(#000, 0.6);
        margin: 0;

        span {
          color: #000;
        }
      }

      &--empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background: rgb(255, 76, 0);
        background: linear-gradient(
            19deg,
            rgba(255, 76, 0, 1) 0%,
            rgba(255, 232, 158, 1) 50%,
            rgba(255, 64, 0, 1) 100%
        );
        color: #000;
        font-size: 14px;
        height: 90px;
      }
    }

    &--disabled {
      .result__contents {
        margin-top: 16px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 100%);

        > p {
          font-size: 14px;
          color: rgba(#fff, 0.5);
          padding: 37px 16px;
          margin: 0;
        }
      }
    }
  }
}

.mirage-tooltip-playnow {
  padding: 15px !important;
  font-size: 12px !important;
  border: 1px solid rgba(#fff, 0.1);
  box-shadow: 0 24px 24px 0 rgba(#000, 0.25);
  word-break: keep-all;
  backdrop-filter: blur(8px);
  border: solid 1px rgba(255, 255, 255, 0.1) !important;
  background-color: rgba(0, 0, 51, 0.75) !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  line-height: 1.5 !important;

  p {
    position: relative;
    padding-left: 10px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}


@include pc {
  .mirage-hidden-valley-play {
    .wrap-play {
      &__top {
        justify-content: space-between;

        &__slot {
          position: initial;
        }
      }
    }

    .result {
      &__header {
        align-items: center;
      }
      .wrap-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__top {
          flex-direction: row;
          align-items: center;
          column-gap: 20px;
        }

        &__title {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            right: -10px;
            height: 100%;
            width: 1px;
            background-color: rgba(#fff, 0.2);
          }
        }

        &__date {
          font-size: 14px;
          color: rgba(#fff, 0.5);
          margin: 0;
        }
      }
      &__contents {
        flex-direction: row;
        padding: 0;

        ul {
          display: flex;
          flex-direction: row;
          margin: 16px;
          column-gap: 32px;
        }

        &__item {
          &:nth-child(n) {
            border-bottom: none;
            padding: 9.5px 0;
            width: 100%;
            max-width: 172px;

            &:after {
              content: "";
              position: absolute;
              right: -16px;
              height: calc(100% - 16px);
              width: 1px;
              background-color: rgba(0, 0, 0, 0.2);
            }
          }
        }

        .btn-more {
          width: 44px;
          height: 30px;
          margin-right: 16px;
        }
      }
    }
  }
}

@include large-pc {
  .mirage-hidden-valley-play {
    .wrap-play {
      &__top {
        padding: 0 56px 0 0;
      }
    }

    .result {
      &__header {
        padding: 8px 0;
      }
    }
  }
}
