@import '~@/assets/sass/mixin';

.rolling-board {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  line-height: normal;
  column-gap: 32px;

  &__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 87px;
    font-size: 12px;
    flex: 1;

    .exchange {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 8px;
      flex-direction: column;

      dt {
        color: rgba(#fff, 0.5);
        margin-bottom: 4px;
      }
      dd {
        display: flex;
        align-items: center;
        column-gap: 8px;
      }
      .amount {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 1;

        &.wemix {
          &::before {
            content: "";
            margin-right: 4px;
            width: 16px;
            height: 16px;
            background: url("https://file.mir4global.com/xdraco/img/common/rolling-board/logo-wemix.webp")
              0 0 / 100% auto no-repeat;
          }
        }
      }
      .change {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 4px;
        height: 20px;
        background-color: #22aa44;

        &.minus {
          background-color: #ff0044;
        }
      }
    }

    &.link {
      display: none;
    }

    &:nth-child(2) {
      position: relative;
      margin: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        background-color: rgba(#c4c4c4, 0.2);
      }

      &::before {
        left: -16px;
        height: 87px;
      }
      &::after {
        display: none;
      }
    }
  }

  &__title {
    line-height: 1;
    margin-bottom: 12px;
  }

  &__swiper {
    width: auto;
    height: 40px;
    margin: 0;
  }
}

@include pc {
  .rolling-board {
    &__link {
      &.link {
        display: flex;
        min-width: 160px;

        .img-link {
          display: flex;
          align-items: center;
          column-gap: 16px;

          &::after {
            content: "";
            width: 8px;
            height: 18px;
            background: url("https://file.mir4global.com/xdraco/img/common/rolling-board/ico-arrow-more.webp")
            0 0 / 100% auto no-repeat;
          }
        }
      }

      &:nth-child(2) {
        margin: 0 80px;

        &::before {
          left: -40px;
        }

        &::after {
          display: block;
          right: -40px;
          left: auto;
          height: 87px;
        }
      }
    }
  }
}

@include large-pc {
  .rolling-board {
    &__link {
      flex-direction: row;
      justify-content: space-between;
      min-height: 40px;
      min-width: 351px;

      &.link {
        display: flex;
        min-width: 160px;
      }

      &:nth-child(2) {
        margin: 0 80px;

        &::before,
        &::after {
          left: -40px;
          height: 40px;
        }
        &::after {
          display: block;
          right: -40px;
          left: auto;
        }
      }

      .exchange {
        flex-direction: row;
        height: 100%;

        dt {
          margin-bottom: 0;
        }

        .amount {
          font-size: 20px;
        }
      }
    }

    &__title {
      margin-bottom: 0;
    }
  }
}
