@import '~@/assets/sass/mixin';

.collectible {
  .exchange-list {
    .wrap-card {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
      margin: 23px;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        .wrap-button {
          width: 100%;
        }
      }
    }
  }
}

@include pc {
  .collectible {
    .exchange-list {
      .wrap-card {
        grid-gap: 24px 16px;
        grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
        margin: 24px 0;
      }
    }

    .for-list {
      .wrap-filter {
        position: inherit;
      }
    }
  }
}
