@import "~@/assets/sass/mixin";

.collectible-history,
.nft-history {
  .wrap-suggest {
    &__list {
      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 20px;
        position: relative;
        justify-content: space-between;

        &:after {
          content: "";
          position: absolute;
          width: calc(100% - 40px);
          height: 1px;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.3);
        }

        dl {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;

          dt {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);
          }

          dd {
            font-size: 14px;
            color: #fff;
          }

          &.price {
            margin-top: 16px;
            padding-top: 16px;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              top: 0;
              width: 100%;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.15);;
            }

            strong {
              font-size: 18.5px;
            }
          }
        }
      }
    }
    &__contents {
      margin-bottom: 60px;
    }
  }

  .exd-ranking {
    .wrap-suggest {
      &__list {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .exd-ranking-list {
      margin: 24px 16px 42px;
      padding: 0;
    }
  }

  .wrap-button {
    margin-top: 24px;

    .btn-viewmore {
      @include btn-viewmore($width: 100%);
    }
  }

  .backtolist {
    margin-left: 16px;
  }

  .nft-info {
    .enhance__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 8px;

      &--level-num {
        margin-top: 0;
      }
    }
  }

  .enhance {
    &__info {
      &--level-num {
        position: relative;
        z-index: 1;
        margin-top: 9px;
        color: #fff;

        &[data-character-reinforce="1"],
        &[data-character-reinforce="2"] {
          color: #42FF00;
        }

        &[data-character-reinforce="3"],
        &[data-character-reinforce="4"] {
          color: #00C2FF;
        }

        &[data-character-reinforce="5"],
        &[data-character-reinforce="6"] {
          color: #E8401B;
        }

        &[data-character-reinforce="7"],
        &[data-character-reinforce="8"] {
          color: #FFE600;
        }
      }
    }
  }

  .exchange-list {
    .layer-price-range {
      z-index: 2;

      .wrap-button {
        margin-bottom: 0;
      }
    }
  }
}

@include pc {
  .collectible-history,
  .nft-history {
    .wrap-suggest {
      &__list {
        li {
          flex-direction: row;
          align-items: center;

          .item-info {
            width: 40%;
          }
        }
        .price,
        .seller,
        .date {
          flex-direction: column;
          width: 20%;

          dt {
            margin-bottom: 8px;
          }
        }

        .price {
          padding-top: 0 !important;
          margin-top: 0 !important;
          &:before {
            content: none !important;
          }
        }
      }
    }
  }
}

@include large-pc {
  .collectible-history,
  .nft-history {
    .exd-ranking-list {
      margin: 40px 0 80px;
    }

    .wrap-suggest {
      &__list {
        li {
          padding: 16px 0;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
