@import '~@/assets/sass/mixin';

.hsp-playbook {
  display: flex;
  flex-direction: column;
  background-color: #000044 !important;
  --background-color: #000055;
  color: #fff !important;
  padding-bottom: 120px;

  ul {
    padding-left: 0;
    list-style: none;
  }

  .top-banner {
    width: 100%;
    height: 400px;
    background: #000044 url("https://file.mir4global.com/xdraco/img/mobile/hsp-playbook/bg-hsp-playbook.webp") 50% 0 /
    (1920 / 2 + px) auto no-repeat;

    .top-inner {
      width: 100%;
      margin: 0 auto;
      max-width: 100%;
      padding: 0 24px;
      box-sizing: border-box;

      h2 {
        width: 219px;
        height: 80px;
        margin-top: 154px;
        font-size: 0;
        background: url("https://file.mir4global.com/xdraco/img/mobile/hsp-playbook/tit-hsp-playbook.webp") 0 0 / cover no-repeat;
      }
    }
  }

  .section__inner {
    .mt-16 {
      margin-top: 16px !important;
    }

    .mtb-24 {
      margin: 24px 0 !important;
    }

    h3 {
      &.title-type1 {
        margin: 0 0 24px 0;
        line-height: 32px;
        font-size: 28px;
        color: #fff;
      }
    }

    p {
      &.desc-type1 {
        margin-top: 8px;
        line-height: 24px;
        color: rgba($color: #fff, $alpha: 0.75);
        letter-spacing: -0.01em;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    ul {
      &.list-type1 {
        margin-top: 40px;
        padding: 0;
        line-height: 18px;
        font-size: 12px;
        color: rgba($color: #fff, $alpha: 0.5);

        li {
          list-style-type: none;
          position: relative;
          padding-left: 19px;
          margin-top: 8px;

          &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 8px;
            border: 1px solid;
            border-radius: 100%;
          }

          span {
            color: #ffff00;
          }
        }
      }
    }

    .structure {
      img {
        display: block;
        width: 100%;
        margin: 40px auto 0;
        max-width: 440px;
      }
    }

    .features {
      img {
        display: block;
        width: 100%;
        margin: 24px auto 0;
        max-width: 384px;
      }
    }

    .between-area {
      width: 100%;
      color: #fff;

      dl {
        dt {
          margin-bottom: 8px;
          line-height: 24px;
          font-weight: bold;
          color: #fff;
        }

        dd {
          line-height: 24px;
          color: rgba($color: #fff, $alpha: 0.75);
        }
      }
    }

    .reward {
      img {
        display: block;
        width: 100%;
        margin: 80px auto 0;
        max-width: 350px;
      }
    }

    .unstaking {
      img {
        display: block;
        width: 100%;
        margin: 80px auto 0;
        max-width: 350px;
      }
    }
  }

  .section {
    width: 100% !important;
    max-width: 100%;
    margin: 0;
    padding: 0 24px;
    box-sizing: border-box;

    &.section-forecasted {
      .list-caution {
        > li {
          margin-top: 4px;

          &::before {
            top: 10px;
          }

          &:first-of-type {
            margin-top: 0;
          }
        }
      }

      .section__inner {
        position: relative;

        .mobile-size--table {
          display: block;
        }

        .desktop-size--table {
          display: none;
        }
      }
    }

    &.structure-area {
      dl {
        margin-bottom: 80px;
        font-weight: bold;
        color: #fff;

        dt {
          line-height: 32px;
          font-size: 24px;
        }

        dd {
          margin-top: 24px;
          line-height: 24px;
        }
      }
    }

    &.features-area {
      margin-top: 80px;
    }

    &.reward-area {
      margin-top: 80px;
    }

    &.unstaking-area {
      margin-top: 80px;
    }

    &.section-forecasted {
      padding-top: 80px;

      .section-title {
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 32px;
      }

      .desc {
        line-height: 24px;
        color: rgba(255, 255, 255, 0.5);
      }

      .sub-title {
        margin-top: 24px;
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 1.71;
        font-weight: normal;
      }

      .tbl-wrap {
        margin: 24px 0 24px;
      }

      .list-summary {
        font-size: 14px;
        line-height: 1.29;
        color: rgba(255, 255, 255, 0.6);

        > li {
          position: relative;
          padding-left: 20px;
          flex: 1;
          line-height: 24px;
          margin-top: 4px;

          &:first-child {
            margin-top: 0;
          }

          &::before {
            content: "";
            position: absolute;
            top: 11px;
            left: 8px;
            border: 1px solid;
            border-width: 3px 3px 0 0;
            border-radius: 100%;
          }

          em,
          strong {
            color: #fff;
          }
        }
      }

      .tbl-stake {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        th {
          padding: 8px 12px 7px;
          border: 1px solid var(--background-color);
          border-width: 0 2px 2px 2px;
          background-color: #0176ff;
          font-size: 14px;
          line-height: 1.14;
          color: #000;
          font-weight: normal;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 32px;
          }

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }
        }

        td {
          padding: 12px;
          border: 2px solid var(--background-color);
          background-color: rgba(143, 194, 255, 0.15);
          text-align: right;
          font-size: 14px;

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }
        }

        tr {
          &:nth-child(even) {
            td {
              background-color: rgba(143, 194, 255, 0.1);
            }
          }
        }
      }

      .list-caution {
        opacity: 0.5;
        font-size: 12px;
        line-height: 1.5;

        > li {
          position: relative;
          padding-left: 19px;

          ~ li {
            margin-top: 4px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 8px;
            border: 1px solid;
            border-radius: 100%;
          }
        }
      }
    }
  }

  .mobile-size--table {
    display: block;
  }

  .desktop-size--table {
    display: none;
  }
}

@include mobile {
  .hsp-playbook .section.section-forecasted .tbl-stake th,
  .hsp-playbook .section.section-forecasted .tbl-stake td {
    font-size: 12px;
  }
}

@include pc {
  .v-application {
    .hsp-playbook {
      .section__inner {
        margin: 0 auto;
      }
      .top-banner {
        height: 664px;
        background: #000044 url("https://file.mir4global.com/xdraco/img/desktop/hsp-playbook/bg-hsp-playbook.webp") 50% 0 /
      (3200 / 2 + px) auto no-repeat;

        .top-inner {
          padding: 0 24px;
          max-width: 1004px;
          width: 100%;

          h2 {
            width: 291px;
            height: 115px;
            margin-top: 190px;
            font-size: 0;
            background: url("https://file.mir4global.com/xdraco/img/desktop/hsp-playbook/tit-hsp-playbook.webp") 0 0 / cover no-repeat;
          }
        }
      }

      .section__inner {
        max-width: 960px;
        width: 100%;

        .mt-40 {
          margin-bottom: 40px !important;
        }

        p {
          &.desc-type1 {
            line-height: 28px;

            &:first-child {
              margin-top: 0;
            }
          }
        }

        .features-wrap {
          .list-type1 {
            position: absolute;
            top: 52.3%;
            max-width: 960px;
            width: calc(100% - 48px);
          }
        }
        ul {
          &.list-type1 {
            line-height: 17px;

            color: rgba($color: #fff, $alpha: 0.5);

            li {
              padding-left: 18px;

              &::before {
                top: 7px;
              }
            }
          }
        }

        .between-area {
          display: flex;
          justify-content: space-between;

          > div {
            width: 440px;
          }

          dl {
            width: 440px;

            dd {
              line-height: 28px;
            }
          }

          .structure {
            height: 405px;
            background: url("https://file.mir4global.com/xdraco/img/desktop/hsp-playbook/structure.webp") 0 0 /
          cover no-repeat;
          }

          .reward {
            height: 192px;
            background: url("https://file.mir4global.com/xdraco/img/desktop/hsp-playbook/hsp-rewardclaim.webp") 0 0 / cover no-repeat;
          }

          .unstaking {
            height: 220px;
            background: url("https://file.mir4global.com/xdraco/img/desktop/hsp-playbook/hsp-unstaking.webp") 0 0 / cover no-repeat;
          }
        }

        .features-wrap {
          .features {
            width: 100%;
            height: 367px;
            margin-top: 69px;
            background: url("https://file.mir4global.com/xdraco/img/desktop/hsp-playbook/hsp-features.webp") 0 0 / contain no-repeat;
          }
        }

        img {
          display: none;
        }
      }

      .section {
        max-width: none;

        &.structure-area {
          margin-top: -273px;

          dl {
            dt {
              line-height: 40px;
              font-size: 32px;
            }

            dd {
              margin-top: 24px;
              line-height: 28px;
              font-size: 20px;
            }
          }
        }

        &.reward-area {
          margin-top: 120px;
        }

        &.section-forecasted {
          .section-title {
            margin-bottom: 16px;
            font-size: 24px;
            line-height: 1;
          }

          .desc {
            font-size: 16px;
            line-height: 1.5;
          }

          .list-summary {
            display: flex;
            column-gap: 16px;
          }

          .tbl-wrap {
            display: flex;
            column-gap: 8px;
            margin-top: 24px;
            margin-bottom: 16px;
          }

          .tbl-stake {
            th {
              padding: 12px;
              font-size: 12px;
              line-height: 1.33;
            }

            td {
              padding: 8px 12px;
              border: 1px solid var(--background-color);
            }
          }

          .list-caution {
            opacity: 0.5;
            font-size: 12px;

            > li {
              position: relative;
              padding-left: 17px;

              ~ li {
                margin-top: 4px;
              }

              &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 8px;
                border: 1px solid;
              }
            }
          }

          .section__inner {
            &::before {
              display: none;
            }

            .mobile-size--table {
              display: none;
            }

            .desktop-size--table {
              display: flex;
            }
          }
        }

        &.section-forecasted {
          margin-top: 124px;

          .list-caution {
            > li {
              margin-top: 4px;

              &::before {
                top: 10px;
              }

              &:first-of-type {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
