@import '~@/assets/sass/mixin';

.inventory {
  .section {
    min-height: calc(100vh - 184px);
  }

  .exchange-list {
    .list-bar {
      &:first-of-type {
        margin: 16px;
      }

      &__title {
        em {
          color: #aa00ff;
        }
      }
    }

    .wrap-card {
      overflow: visible;
      display: grid;
      grid-gap: 16px;
      margin: 23px;
      grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      &__btn {
        display: flex;
        margin-top: 8px;
        gap: 2px;
        width: 100%;

        button,
        a {
          font-size: 12px;
          height: 40px;
          width: 50%;
        }
      }
    }
  }

  .myitem-list {
    &__items {
      list-style: none;
      padding: 0;

      li,
      .myitem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .myitem {
        &__list {
          &__item {
            button {
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }

      &__btn {
        button {
          font-size: 12px;
          font-weight: normal;
          width: 72px;
          height: 32px;
        }
      }
    }
  }

  .not-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 291px;
    padding-top: 24px;
    text-align: center;

    p {
      font-size: 14px;
      line-height: 20px;
      color: #999999;
    }

    .bottom-btns {
      margin-top: 16px;

      a {
        display: block;
        position: relative;
        height: 35px;
        line-height: 35px;
        padding: 0 24px 0 107px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 99px;
          height: 35px;
          background: url("https://file.mir4global.com/xdraco/img/desktop/mywarehouse/logo.webp") 50% 50% /
            cover no-repeat;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 6px;
          right: 0;
          width: 20px;
          height: 20px;
          background: url("https://file.mir4global.com/xdraco/img/desktop/mywarehouse/icon-link.webp") 50% 50% / cover no-repeat;
        }
      }
    }
  }

  .dialog-stake {
    &.theme-dark {
      .content {
        .info-round {
          padding: 16px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        .wrap-list {
          margin: 15px 0;

          .notice {
            color: #fff;
          }
        }
      }
    }
  }

  .dialog-stake {
    &.collectible {
      .content {
        .card-content {
          .wrap-char {
            margin-bottom: 0;

            .wrap-detail {
              .title {
                margin-top: 16px;
                font-size: 20px !important;
                line-height: 24px;
                text-align: center;
              }

              .detail-card {
                margin-top: 16px;
              }

              .detail-desc {
                margin-top: 16px;
                line-height: 24px;
                text-align: center;
              }

              .detail-change {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 8px;
                background-color: rgba($color: #000000, $alpha: 0.4);
                gap: 0 24px;

                .change-box {
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  padding: 10px 0;
                  text-align: left;
                  font-size: 12px;
                  gap: 0 8px;

                  > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px 0;
                    margin-top: 8px;

                    .server {
                      line-height: 14px;
                      font-size: 12px;
                    }

                    .name {
                      line-height: 19px;
                      font-size: 16px;
                      font-weight: bold;
                    }

                    .lv-job {
                      line-height: 14px;
                      font-size: 12px;
                      color: rgba($color: #fff, $alpha: 0.5);

                      span {
                        position: relative;
                        padding-left: 5px;
                        padding-right: 5px;

                        &::before {
                          content: "";
                          display: block;
                          position: absolute;
                          top: 50%;
                          left: 0;
                          transform: translateY(-50%);
                          width: 1px;
                          height: 10px;
                          background-color: rgba($color: #fff, $alpha: 0.1);
                        }

                        &:first-child {
                          padding-left: 0;

                          &::before {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                }

                .change {
                  font-size: 0;
                  width: 24px;
                  height: 24px;
                  background: url("https://file.mir4global.com/xdraco/img/desktop/mywarehouse/icon-change.webp") 50% 50% / cover no-repeat;
                }
              }

              .detail-desc-sm {
                margin-top: 16px;
                font-size: 12px;
                text-align: center;
              }
            }
          }

          .wrap-button {
            position: inherit;
            margin-top: 16px;
            font-size: 24px;

            .btn {
              display: flex;
              flex-direction: row;

              .ico-sm {
                display: flex;
                align-items: center;
                padding-left: 22px;
                font-size: 16px;

                &::before {
                  width: 20px;
                  height: 20px;
                }
              }

              .sub-txt {
                margin-left: 8px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .wrap-button {
    margin-top: 24px;
  }
}

@include pc {
  .inventory {
    .section {
      min-height: calc(100vh - 176px);
    }
    .exchange-list {
      .list-bar {
        position: sticky;
        top: 0;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;

        &:first-of-type {
          margin: 16px 0;
        }

        &__title {
          font-size: 16px;
          font-weight: 700;
          color: #fff;

          em {
            color: #a0f;
            margin-right: 4px;
          }
        }
      }

      .wrap-filter {
        &__inner {
          margin: 0;
        }
      }

      .wrap-card {
        grid-gap: 32px 16px;
        grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
        margin: 16px 0;
      }
    }

    .not-login {
      min-height: 283px;
    }

    .v-icon {
      position: relative;
      width: 20px;
      height: 20px;
      margin-left: 8px;
      font-size: 0;
      background: url("https://file.mir4global.com/xdraco/img/desktop/mywarehouse/icon-info.webp") 50% 50% /
      cover no-repeat;
    }

    .v-tooltip__content {
      width: 320px;
      padding: 24px;
      box-sizing: border-box;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px rgba(255, 255, 255, 0.1);
      background-color: rgba(0, 0, 51, 0.75);

      .tooltip-wrap {
        .tit {
          line-height: 24px;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
        }

        .desc {
          margin-top: 8px;
          line-height: 20px;
          font-size: 12px;
          color: rgba($color: #fff, $alpha: 0.75);
        }
      }
    }

    .wrap-button {
      margin-top: 16px;
    }

    .myitem-list {
      &__items {

        > li {
          padding: 18px 0;
        }
        &__btn {
          button {
            font-size: 16px;
            width: 124px;
            height: 48px;
          }
        }

        .myitem {
          &__list {
            &__item {
              align-items: flex-start;
              button {
                width: 124px;
              }
            }
          }
        }
      }
    }
  }
}
@include large-pc {
  .inventory {
    .exchange-list {
      .wrap-card {
        margin: 0 0 16px;
      }
    }
  }
}
