@import '~@/assets/sass/mixin';

.hydra {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #0b0b57;
  overflow-x: hidden;

  .section {
    margin: 0 !important;
    width: 100% !important;
    max-width: initial;
    padding: var(--section-padding-x);

    &-title {
      img {
        width: 193px;
        height: auto;
      }
    }
  }

  .section__inner {
    margin: 0 auto;
  }

  .dynamics {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #000;
    color: #fff;

    em {
      font-style: normal;
    }

    &__title {
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 1.25;
      color: #0f69ff;
      text-align: center;
    }

    &__supply {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid rgba($color: #c4c4c4, $alpha: 25%);
      border-bottom: 1px solid rgba($color: #c4c4c4, $alpha: 25%);
      padding: 24px 21px;

      > p {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        margin: 0;
      }

      &__title {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 1.75;
        color: rgba($color: #fff, $alpha: 75%);
      }

      &__amount {
        display: flex;
        align-items: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 0.7;

        &::before {
          content: '';
          width: 40px;
          height: 40px;
          margin-right: 8px;
          background: url("https://file.mir4global.com/xdraco/img/desktop/hydra/img-symbol-hydra.webp") 0 0 / cover no-repeat;
        }
      }
    }

    &__table {
      width: 100%;
      table-layout: fixed;
      font-size: 14px;
      line-height: 1.43;

      th {
        padding: 8px 16px;
        background-color: rgb(255 255 255 / 10%);
        color: rgba($color: #fff, $alpha: 50%);
        font-weight: normal;
      }

      td {
        padding: 16px;
        background-color: rgb(15 105 255 / 20%);
        color: rgba($color: #fff, $alpha: 75%);
      }

      &--desc {
        color: #fff;
        margin-bottom: 8px;
      }

      &--sub-desc {
        font-size: 12px;
        line-height: 1.5;
      }

      &__title {
        margin: 40px 0 16px;
        font-size: 20px;
        line-height: 2;
        text-align: center;
      }

      &__value {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .value {
          font-size: 16px;
          line-height: 1.25;
          color: #fff;
        }

        .percent {
          margin-top: 4px;
          font-size: 12px;
          line-height: 1.67;
          color: #fff;;
        }
      }

      &--warn {
        display: flex;
        margin-top: 8px;
        color: #f00;
        font-size: 12px;
        line-height: 1.5;

        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 1px;
          border: 1px solid;
          border-radius: 100%;
          margin: 8px 7px 0 5px;
        }
      }
    }

    &__summary {
      display: flex;
      justify-content: flex-end;
      padding: 16px;

      > p {
        display: flex;
        align-items: center;
        margin: 0;
      }

      &__title {
        font-size: 14px;
        line-height: 1.14;
        margin-right: 20px;
      }

      &--amount {
        display: flex;
        font-size: 20px;
        line-height: 1;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          margin-right: 4px;
          background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/img-symbol-hydra.webp') 0 0/cover no-repeat
        }
      }
    }

    &__fee {
      padding-top: 16px;
      border-top: 1px solid rgb(196 196 196 / 25%);
      font-size: 14px;

      dt {
        margin-bottom: 8px;
        line-height: 1.14;
      }

      dd {
        line-height: 1.43;
        color: rgb(255 255 255 / 60%);
      }
    }
  }

  .section-main {
    position: relative;
    min-height: 720px;
    padding: var(--navdsp-height) 0 40px;
    color: #fff;
    font-size: 22px;
    background: #004367 url('https://file.mir4global.com/xdraco/img/mobile/hydra/bg-hydra-main.webp') 50% 0 / auto 100% no-repeat;
    text-align: center;

    .section__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-top: 446px;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: calc(50% - 357px);
        width: 838px;
        height: 505px;
        background: url('https://file.mir4global.com/xdraco/img/mobile/hydra/main-dragon.webp') 0 0 / 100% no-repeat;
      }

      &::after {
        content: '';
        position: absolute;
        top: 64px;
        left: calc(50% - 250px);
        width: 500px;
        height: 500px;
        background: url('https://file.mir4global.com/xdraco/img/mobile/hydra/main-hydra-coin.webp') 0 0 / 100% no-repeat;
      }
    }

    .section-title {
      z-index: 1;
    }

    .section-headline {
      margin-top: 58px;
      font-size: 24px;
      line-height: 32px;
    }

    p {
      color: rgba($color: #fff, $alpha: 75%);
      line-height: 1.25;
      font-size: 16px;
      margin: 8px 0 0;
      width: 90%;

      em,
      strong {
        color: #fff;
        font-style: normal;
      }
    }
  }

  .section-video {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000;

    .section__inner {
      padding: 0 !important;
    }

    &__contents {
      position: relative;
      padding-top: 0;
      transition: padding 0.3s;

      &.wrap-video--open {
        padding-top: 56.25%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
      }
    }
  }

  .section-prologue {
    padding: 40px 24px;
    background: #116 url('https://file.mir4global.com/xdraco/img/mobile/hydra/bg-prologue.webp') 50% 0% / 960px auto no-repeat;

    &__contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;

      h3 {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
      }

      p {
        margin-top: 16px;
        line-height: 28px;
        font-size: 16px;
      }
    }
  }

  .section-chronicles {
    background: #116 url('https://file.mir4global.com/xdraco/img/mobile/hydra/bg-chronicle.webp') 50% 0 / cover no-repeat;
    padding: 40px 24px;

    &__contents {
      display: flex;
      flex-direction: column;
      color: #fff;

      h3 {
        line-height: 36px;
        font-size: 32px;
        text-align: center;

        &::after {
          content: '';
          display: block;
          height: 12px;
          margin: 24px 0 0;
          background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-chronicles-line.webp') 50% 0 / cover no-repeat;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          margin-top: 24px;

          img {
            width: 100%;
          }

          p {
            line-height: 28px;
          }

          &:first-child {
            img {
              max-width: 340px;
            }
          }

          &:nth-child(2) {
            img {
              max-width: 320px;
            }
          }

          &:nth-child(3) {
            img {
              max-width: 327px;
            }
          }
        }
      }
    }
  }

  .section-spectrum {
    background-color: #000;

    &__contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 1226px;
      padding: 40px 0;

      h3 {
        line-height: 32px;
        text-align: center;
        font-size: 32px;
        color: #0f69ff;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        padding: 0;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style-type: none;
          width: 100%;

          p {
            width: 100%;
            text-align: left;
            font-size: 14px;
            color: rgba($color: #fff, $alpha: 60%);
            line-height: 1.43;
          }
        }
      }

      &--tied {
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-spectrums-tied.webp') 50% 113px / auto 200px no-repeat;
      }

      &--synthetic {
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-spectrums-synthetic.webp') 50% 113px / auto 200px no-repeat;
      }

      &--diplomatic {
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-spectrums-diplomatic.webp') 50% 113px / auto 200px no-repeat;
      }

      &--governance {
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-spectrums-governance.webp') 50% 113px / auto 200px no-repeat;
      }

      &--defi {
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-spectrums-defi.webp') 50% 113px / auto 200px no-repeat;
      }

      &--tradable {
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-spectrums-tradable.webp') 50% 113px / auto 200px no-repeat;
      }

      &__title {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #fff;

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          margin: 40px 0 16px;
          background-color: rgba($color: #c4c4c4, $alpha: 25%);
        }

        &::after {
          content: '';
          display: block;
          padding-bottom: 232px;
        }
      }
    }
  }

  .section-defi {
    min-height: 480px;
    background: #ffe501 url('https://file.mir4global.com/xdraco/img/mobile/hydra/bg-defi.webp') 50% 0 / 960px auto no-repeat;
    color: #000;
    text-align: center;
    line-height: 1.38;
    padding: 40px 24px;

    .section-title {
      font-size: 32px;
      line-height: 44px;
    }

    &__contents {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 290px 0 0;

      > div {
        &:first-child {
          margin-bottom: 48px;
        }
      }

      dt {
        line-height: 1;

        img {
          vertical-align: top;
        }
      }

      dd {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;

        p {
          margin: 16px 0 32px;
        }
      }

      &--link {
        position: relative;
        padding: 8px 44px 8px 16px;
        background-color: #000;
        color: #fe0;
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 16px;
          width: 18px;
          height: 1px;
          background-color: #ffdf00;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 5px);
          right: 17px;
          width: 10px;
          height: 10px;
          border: 1px solid #ffdf00;
          border-width: 0 1px 1px 0;
          transform: rotate(-45deg);
        }

        p {
          margin: 0 !important;
        }
      }

      &--soon {
        padding: 8px 16px;
        background-color: rgb(0 0 0 / 10%);
        color: rgb(0 0 0 / 30%);
      }
    }
  }

  .section-roadmap {
    min-height: 924px;
    background: #00105e url('https://file.mir4global.com/xdraco/img/mobile/hydra/bg-roadmap.webp') 50% 0 / 960px 100% no-repeat;
    padding-top: 0;
    padding-bottom: 64px;

    &__title {
      margin-top: 40px;
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 1.25;
      text-align: center;
    }

    &__contents {
      color: #fff;

      ol {
        padding-left: 0;
        list-style: none;

        li {
          position: relative;
        }
      }
    }

    &__step1,
    &__step2,
    &__step3,
    &__step4 {
      padding-bottom: 26px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -24px;
        right: -24px;
        height: 35px;
        background: url('https://file.mir4global.com/xdraco/img/mobile/hydra/step-arrow-down.webp') 50% 50% / 100% auto no-repeat;
      }
    }

    &__step1,
    &__step2,
    &__step3,
    &__step4,
    &__step5 {
      &--detail {
        display: flex;
        flex-flow: column wrap;
        row-gap: 8px;
        min-height: 128px;
        padding: 16px 0 16px 112px;
        background-repeat: no-repeat;
        background-size: 96px 96px;
        background-position-y: 16px;
        box-sizing: border-box;

        dt {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.25;
        }

        dd {
          font-size: 13px;
          line-height: 1.69;
        }
      }
    }

    &__step1 {
      &--detail {
        background-image: url('https://file.mir4global.com/xdraco/img/mobile/hydra/img-roadmap-hydra.webp');
        background-size: 78px 96px;
        background-position-x: 10px;
      }
    }

    &__step2 {
      &--detail {
        background-image: url('https://file.mir4global.com/xdraco/img/mobile/hydra/img-roadmap-hsp.png');
      }
    }

    &__step3 {
      &--detail {
        background-image: url('https://file.mir4global.com/xdraco/img/mobile/hydra/img-roadmap-mirage.webp');
        background-size: 75px 84px;
        background-position-x: 11px;
      }
    }

    &__step4 {
      &--detail {
        background-image: url('https://file.mir4global.com/xdraco/img/mobile/hydra/img-roadmap-hsp.png');
      }
    }

    &__step5 {
      &--detail {
        background-image: url('https://file.mir4global.com/xdraco/img/mobile/hydra/img-roadmap-axd.webp');
      }
    }

    &__step2,
    &__step3 {
      &--detail {
        dd {
          line-height: 1.54;
        }
      }
    }

    &--date {
      display: block;
      padding-top: 16px;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.14;
    }
  }

  .section-summoning {
    padding: 0 0 40px;
    background-color: #0b0b57;

    .section__inner {
      padding: 0 !important;
    }

    &__title {
      margin-top: 40px;
      margin-bottom: 45px;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      color: #0f69ff;
    }

    &__contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
    }

    &__refining {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 -24px;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 26px 20px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 200px;

        &:first-child {
          max-width: 96px;
        }

        p {
          font-size: 12px;
          font-weight: bold;
        }

        > div {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;

          img {
            width: 56px;
            margin-top: 20px;
          }
        }

        &--amount {
          position: absolute;
          font-size: 20px;
          right: 0;
          bottom: 0;
          margin-bottom: 0;
        }

        &--subscript {
          font-size: 11px;
          margin-top: 13px;
          text-align: center;
        }

        &__fee {
          background-color: rgba(151, 0, 255, 0.2);
          padding: 25px 12px;
          width: 200px;
          margin-top: 12px;

          > span {
            font-size: 12px;
          }

          > div {
            display: flex;
            flex-direction: row;
          }

          .draco,
          .septaria {
            display: flex;
            align-items: center;
            font-size: 28px;
            line-height: 56px;
            font-weight: 600;

            &::before {
              content: '';
              margin-right: 4px;
              width: 24px;
              height: 24px;
              background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/icon-refining-draco.webp') 0 0 / 100% no-repeat;
            }
          }

          .septaria {
            &::before {
              width: 19px;
              height: 24px;
              background-image: url('https://file.mir4global.com/xdraco/img/desktop/hydra/icon-refining-septaria.webp');
            }
          }

          .plus {
            font-weight: 100;
          }
        }
      }

      .plus {
        font-size: 40px;
        font-weight: 300;
        color: rgba($color: #fff, $alpha: 50%);
        margin: 0 4px;
      }

      > .plus {
        margin: 0 4%;
      }
    }

    &__metamorphic {
      margin-top: 49px;
      padding: 0 24px;

      h4 {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          margin-top: 10px;
          margin-bottom: 24px;
          background-color: rgba($color: #c4c4c4, $alpha: 25%);
        }
      }

      p {
        margin: 16px 0 0;
        line-height: 24px;
      }
    }

    &__btns {
      display: flex;
      align-items: center;
      margin: 24px 0 45px;

      .refining-dialog__btn-calc {
        padding: 8px 8px 8px 12px;
        background-color: #ffc700;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        text-decoration: none;

        span {
          display: flex;
          align-items: center;
          padding-right: 0;

          &::after {
            content: '';
            position: initial;
            width: 17px;
            height: 23px;
            background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/icon-calc.webp') 50% 50% / cover no-repeat;
          }

          &::before {
            content: none;
          }
        }
      }
    }

    &__define {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box;
      padding: 0 24px;

      li {
        list-style: none;

        span {
          font-size: 16px;
          font-weight: bold;
        }

        p {
          margin-top: 8px;
          font-size: 14px;
          color: #fff;
          opacity: 0.6;
          line-height: 1.57;
        }

        &:first-child {
          img {
            width: 85%;
            max-width: 368px;
          }
        }

        &:nth-child(2) {
          margin-top: 45px;

          img {
            width: 64%;
            max-width: 228px;
          }
        }
      }

      &__formula {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;
        background-color: rgb(0 0 187 / 10%);
        padding: 22px 15px;

        p {
          text-align: center;
        }

        img {
          margin-top: 12px;
        }
      }
    }

    &__caution {
      margin: 45px 24px 0;

      dl {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        border: 1px solid #f00;
      }

      dt {
        position: relative;
        padding-left: 28px;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 1.75;
        font-weight: 700;

        &::before {
          content: '';
          position: absolute;
          top: 4px;
          left: 0;
          width: 20px;
          height: 20px;
          background: url('https://file.mir4global.com/xdraco/img/mobile/hydra/icon-warn.webp') 0 0 / 100% auto no-repeat;
        }
      }

      dd {
        font-size: 14px;
        line-height: 1.43;
        opacity: 0.6;
        text-align: center;
      }
    }
  }

  .section-refinery {
    padding-bottom: 40px;
    background-color: #000;
    color: rgb(255 255 255 / 50%);
    line-height: 1.57;

    &__title {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 32px;
      color: #0f69ff;
      line-height: 1.25;
      text-align: center;
    }

    &__contents {
      ul {
        list-style: none;
        padding-left: 0;
      }
    }

    &__headline {
      font-size: 16px;
      line-height: 1.75;
      color: rgb(255 255 255 / 60%);
    }

    &__step {
      margin-top: 40px;

      &--desc {
        font-size: 14px;
        font-weight: normal;

        h3 {
          color: #fff;
          font-size: 20px;
        }

        > p {
          margin-top: 16px;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.5);

          em {
            font-style: normal;
            color: #fff;
          }
        }
      }

      &__img {
        margin-top: 40px;

        ol {
          display: flex;
          flex-flow: row wrap;
          padding-left: 0;
          list-style: none;
          background-color: rgb(68 115 255 / 20%);

          > li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px 12px;
            width: 50%;
            border-bottom: 1px solid rgb(255 255 255 / 10%);
            font-size: 12px;
            line-height: 1.83;
            color: #fff;

            &:nth-child(odd) {
              border-right: 1px solid rgb(255 255 255 / 10%);
            }

            &:last-child {
              border-bottom: 0;
            }
          }
        }

        &--quantity {
          position: relative;
          padding-left: 15px;
          font-size: 14px;
          line-height: 1.43;

          &::before {
            content: '';
            position: absolute;
            top: calc(50% - 7px);
            left: 0;
            width: 12px;
            height: 14px;
            background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/icon-refining-septaria.webp') 0 0 / auto 100% no-repeat;
          }
        }

        img {
          display: block;
          max-width: 100%;
        }

        &--by-viewer {
          position: relative;
          cursor: zoom-in;

          &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 48px;
            height: 48px;
            background: url('https://file.mir4global.com/xdraco/img/mobile/hydra/btn-zoom.webp') 0 0 / cover no-repeat;
            opacity: 0;
            transition: opacity 400ms ease;
          }

          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }

        figcaption,
        &--caption {
          display: block;
          font-size: 14px;
          font-weight: normal;
          line-height: 2;
          text-align: center;
        }
      }

      &__btn {
        margin-top: 24px;
      }

      &--caution {
        display: flex;
        position: relative;
        color: #f00;
        font-weight: normal;
        margin-top: 16px;
        padding-left: 28px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background: url('https://file.mir4global.com/xdraco/img/mobile/hydra/icon-warn.webp') 0 0 / contain no-repeat;
        }
      }
    }
  }

  .float-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: clamp(96px, 96px, 96px) !important;
    background-color: #003;
    transition: transform 500ms 0.5s ease;

    .v-window__container,
    .v-carousel__item {
      height: inherit !important;
    }

    v-window__container {
      justify-content: center;
    }

    .coin {
      line-height: 1.33;
      font-size: 14px;
      color: #fff;
      text-align: center;

      > a {
        color: inherit;
        text-decoration: none;
      }

      &__name {
        display: inline-block;
        margin-right: 8px;
        line-height: 1.3;
        font-size: 12px;
        color: var(--content-color);
        vertical-align: middle;
        text-align: left;

        span {
          font-size: 10px;
          font-weight: normal;
        }

        .name {
          line-height: 1.35;
          font-weight: 700;
          color: #fff;
        }
      }

      &__volume {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        vertical-align: middle;

        .amount {
          display: flex;
          align-items: center;
          font-weight: 700;
          line-height: 1.13;
          font-size: 24px;

          &::before {
            display: block;
            margin-right: 4px;
            width: 24px;
            height: 24px;
          }

          &.wemix {
            &::before {
              content: "";
              background: url("https://file.mir4global.com/xdraco/img/mobile/symbol-wemix.webp") 0 0 / cover no-repeat;
            }
          }

          &.wemix-credit {
            &::before {
              content: "";
              background: url("https://file.mir4global.com/xdraco/img/mobile/symbol-wemixcredit.webp") 0 0 / cover no-repeat;
            }
          }

          &.draco {
            &::before {
              content: "";
              background: url("https://file.mir4global.com/xdraco/img/mobile/symbol-draco.webp") 0 0 / cover no-repeat;
            }
          }

          &.septaria {
            &::before {
              content: "";
              width: 20px;
              background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/icon-refining-septaria.webp') 0 0 / cover no-repeat;
            }
          }
        }

        .symbol-plus {
          margin: 0 8px;
          font-size: 32px;
          line-height: 1;
          font-weight: 100;
        }

        .sup {
          line-height: 1.75;
          font-weight: 700;
          font-size: 12px;
        }

        .change {
          @include volume-change(
            $height: 22px,
            $font-size: 12px,
            $padding: 4px
          );

          margin-left: 8px;
          font-weight: 700;
        }
      }

      &__date {
        margin-top: 10px;
        line-height: 18px;
        font-size: 12px;
        color: rgba(#fff, 0.5);
        text-align: center;
      }

      &.refining-cost {
        .coin__name {
          .name {
            font-size: 14px;
            line-height: 1.43;

            .stage {
              display: block;
              font-size: 10px;
              line-height: normal;
              color: rgba($color: #fff, $alpha: 50%);
            }
          }
        }

        .coin__volume {
          .amount {
            line-height: 1.67;
          }

          .sup {
            top: -0.7em;
            margin-left: 4px;
            font-weight: normal;
            line-height: 2;
          }
        }

        .coin__date {
          margin-top: 8px;
        }
      }
    }
  }
}

@include pc {
  .hydra {
    .section {
      &__inner {
        width: 100% !important;
        max-width: 960px;

        .section-headline {
          font-size: 32px;
        }
      }

      &-title {
        img {
          width: auto;
          height: 64px;
        }
      }
    }

    .section-main {
      background: #004367 url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-hydra-main.webp') 50% 0 / auto 100% no-repeat;

      p {
        font-size: 22px;
      }
    }

    .section-prologue {
      background-position: 50% 50%;
      padding: 80px 0;

      &__contents {
        p {
          font-size: 16px;
        }
      }
    }

    .section-chronicles {
      padding: 73px 0 64px;

      &__contents {
        max-width: 820px;
        margin: 0 auto;

        ul {
          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;

            p {
              font-size: 16px;
              max-width: 460px;
            }

            &:nth-child(2) {
              img {
                order: 2;
              }

              p {
                order: 1;
              }
            }
          }
        }
      }
    }

    .dynamics {
      padding: 64px 0 88px;

      &__supply {
        p {
          flex-direction: row;
        }

        &__amount {
          margin-left: 19px;
        }
      }

      &__table {
        td {
          p {
            font-size: 14px;
          }
        }
      }
    }

    .section-spectrum {
      padding: 64px 0;
      &__contents {
        padding: 0;
        min-height: 0;
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          li {
            padding: 17px;
            margin-top: 32px;
            background-position: 50% 85px;
          }
        }

        &__title {
          &:before {
            content: none;
          }

          &:after {
            width: 100%;
            height: 1px;
            margin: 16px 0 232px;
            background-color: hsla(0, 0%, 76.9%, .25);
            padding-bottom: 0;
          }
        }
      }
    }

    .section-defi {
      position: relative;
      background: #ffd300 url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-defi.webp') 50% 0/auto 100% no-repeat;
      z-index: 1;
      overflow: hidden;
      padding: 61px 0 47px;

      &:before {
        content: "";
        position: absolute;
        top: -159px;
        left: calc(50% - 400px);
        width: 800px;
        height: 800px;
        z-index: -1;
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-defi-hydra.webp') 50% 0/100% no-repeat;
      }

      &__contents {
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        div {
          display: flex;
          flex-direction: column;
          max-width: 320px;
          height: 100%;

          &:first-child {
            margin: 0;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    .section-roadmap {
      min-height: 560px;
      padding: 0;
      background: #00105e url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-roadmap.webp') 50% 50%/cover no-repeat;

      &__title {
        margin: 64px 0 35px;
      }

      &__roadmap {
        display: flex;
        flex-direction: row;
        margin: 0 16px;
        height: 420px;
        background: url('https://file.mir4global.com/xdraco/img/desktop/hydra/bg-roadmap-step.webp') 0 100%/contain no-repeat;
      }

      &__step1,
      &__step2,
      &__step3,
      &__step4,
      &__step5 {
        margin-left: 8px;
        width: 20%;

        &:after {
          content: none;
        }

        &--detail {
          padding: 120px 0 0;

          dd {
            max-width: 148px;
          }
        }
      }

      &__step1 {
        &--detail {
          margin-left: 0;
        }
      }

      &__step5 {
        padding-top: 32px;
      }
    }

    .section-summoning {
      padding: 80px 0;

      &__metamorphic {
        padding: 0;
      }

      &__refining {
        width: 100%;

        &__item {
          min-width: 403px;

          &:first-child {
            min-width: 160px;
          }
          p {
            font-size: 16px;

            span {
              font-size: 16px;
            }
          }

          span {
            font-size: 12px;
          }

          &--amount {
            strong {
              font-size: 24px;
            }
          }

          > div {
            img{
              margin-top: 31px;
              width: 90px;
            }
          }

          &__fee {
            width: 402px;
            margin-top: 20px;
            .draco,
            .septaria {
              font-size: 40px;
            }

            .draco {
              &:before {
                width: 40px;
                height: 40px;
              }
            }

            .septaria {
              &:before {
                width: 32px;
                height: 40px;
              }
            }

            > span {
              font-size: 14px;
            }

            .plus {
              margin: 0 16px;
              font-size: 48px;
            }
          }

          &--subscript {
            margin-top: 8px;
          }
        }
      }

      &__define {
        flex-direction: row;
        flex-wrap: initial;
        max-height: 388px;
        padding: 0;

        li {
          width: 50%;
          padding-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &:nth-child(2) {
            margin-top: 0;
            padding-left: 20px;
          }

          p {
            font-size: 14px;
          }
        }

        &__formula {
          margin-top: 0;
          height: 150px;

          p {
            font-size: 12px !important;
          }
        }
      }

      &__btns {
        margin: 40px 0;
      }

      &__caution {
        margin: 92px 0 0;
      }
    }

    .section-refinery {
      padding-bottom: 80px;
      &__step {
        display: flex;
        flex-direction: row;
        margin-top: 64px;

        li {
          width: 50%;

          &:first-child {
            padding-right: 20px;
          }

          &:nth-child(2) {
            padding-left: 20px;
          }
        }

        &__img {
          margin-top: 0;
        }
      }
    }

    .float-bottom {
      display: flex !important;
      flex-direction: row;
      align-items: center;
      height: 120px !important;

      .v-carousel {
        width: 50%;

        .v-window__container {
          width: 100%;
          align-items: center;

          .v-window-item {
            width: 100%;
          }
        }
      }

      > .coin {
        width: 50%;
      }

      .coin {
        a {
          > div {
            &:first-child {
              display: flex;
              flex-direction: row;
              justify-content: center;
            }
          }
        }

        &__name {
          .name {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            font-size: 14px;

            em {
              font-size: 14px;
            }

            .stage {
              font-size: 12px;
              color: #fff;
              opacity: 0.5;
            }
          }
        }

        &__volume {
          .amount {
            font-size: 40px;

            &:before {
              width: 31px;
              height: 31px;
              margin-right: 9px;
            }

            &.septaria {
              &:before {
                width: 25px;
                height: 31px;
              }
            }
          }
          .change {
            font-size: 14px;
          }
        }
      }

      > div {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.init-intro-hydra {
  .v-application {
    .hydra {
      .float-bottom {
        transform: translateY(0);
      }
    }
  }
}
