@import "../../../mixin";

.hydra-payment {
  --payment-bg-color: #111;
  --payment-top-title-color: #ffe600;
  --payment-section-margin-y: 40px;
  --payment-toggle-frame-width: 151px;
  --payment-toggle-frame-height: 40px;

  margin-top: var(--navdsp-height);
  width: 100%;
  background-color: var(--payment-bg-color);
  font-family: 'Inter', sans-serif;

  img {
    max-width: 100%;
    vertical-align: top;
  }

  &__wrapper {
    overflow-x: hidden;
    padding-bottom: 80px;
  }

  .toggle-currency {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--payment-toggle-frame-width);
    height: var(--payment-toggle-frame-height);
    background: url("https://file.mir4global.com/xdraco/img/mobile/exchange-rate-card/bg-toggle-frame.webp") 50% 50% / cover no-repeat;

    .v-tabs-bar {
      height: auto;

      &__content {
        width: 100%;
      }

      .v-slide-group {
        &__prev,
        &__next {
          display: none !important;
        }
      }
    }

    .btn-currency {
      position: relative;
      width: 72px;
      height: 33px;
      min-width: auto;
      max-width: none;
      font-size: 0;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      &.hyd,
      &[data-currency-value='hyd'] {
        &::after {
          background-image: url("https://file.mir4global.com/xdraco/img/mobile/exchange-rate-card/img-toggle-hyd-off.webp");
          background-size: 59px 19px;
        }
      }

      &.usd,
      &[data-currency-value='usd'] {
        &::after {
          background-image: url("https://file.mir4global.com/xdraco/img/mobile/exchange-rate-card/img-toggle-usd-off.webp");
          background-size: 44px 19px;
        }
      }

      &.currency--active,
      &.v-tab--active {
        &.hyd,
        &[data-currency-value='hyd'] {
          &::after {
            background-image: url("https://file.mir4global.com/xdraco/img/mobile/exchange-rate-card/img-toggle-hyd-on.webp");
            background-size: 60px 19px;
          }

          &::before {
            background: url("https://file.mir4global.com/xdraco/img/mobile/exchange-rate-card/bg-toggle-on.webp") 0 0 / cover no-repeat;
          }
        }

        &.usd,
        &[data-currency-value='usd'] {
          &::after {
            background-image: url("https://file.mir4global.com/xdraco/img/mobile/exchange-rate-card/img-toggle-usd-on.webp");
            background-size: 45px 19px;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("https://file.mir4global.com/xdraco/img/mobile/exchange-rate-card/bg-toggle-on.webp") 0 0 / cover no-repeat;
          box-shadow: 0 2px 2px 0 #00000066;
          border-radius: 22px;
          opacity: 1 !important;
        }
      }
    }
  }

  .contents {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 640px;

    &__wrapper {
      padding: 80px 0 0;
      border-top: 1px solid #c4c4c433;
    }

    &--intro {
      background: url("https://file.mir4global.com/xdraco/img/mobile/hydra-payment/bg-hydra-payment.webp") 50% 0 / auto 280px no-repeat;
      text-align: center;

      .contents {
        &__wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          border-top: 0;
          padding: 120px 40px 40px;
        }

        &--title {
          font-size: 3rem;
          font-weight: 700;
          font-family: Inter, sans-serif;
          color: var(--payment-top-title-color);
          line-height: 1;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          flex-flow: column wrap;
          row-gap: 16px;

          &::before {
            content: "";
            left: 32%;
            top: -85%;
            width: 111px;
            height: 64px;
            background: url("https://file.mir4global.com/xdraco/img/mobile/hydra-payment/logo-hydra-payment.webp") 0 0 / cover no-repeat;
          }
        }

        &--sub-title {
          margin-top: 8px;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: normal;
          font-family: Inter, sans-serif;
          color: var(--payment-top-title-color);
        }

        &--description {
          font-size: 20px;
          color: #fff;
          font-weight: 700;
          line-height: 1.4;

          &:first-of-type {
            margin-top: 40px;
          }
        }
      }

    }

    &--price {
      text-align: center;

      .contents {
        &__wrapper {
          padding-right: 0;
          padding-left: 0;
        }

        &--header {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
          margin-bottom: 16px;
        }

        &--title {
          display: flex;
          align-items: center;
          flex-direction: column;
          row-gap: 16px;
          padding: 0 var(--section-padding-x);
          line-height: normal;
          color: #fff;
        }
      }

      .toggle-currency {
        flex: none;
        margin: 0 auto;
      }

      .v-tabs-items {
        background-color: transparent !important;
      }

      .grid-product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(49%, auto));
        grid-auto-rows: minmax(304px, auto);
        gap: 2px;

        .grid-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 16px;
          padding: 30px 10px;
          background-image: linear-gradient(to bottom, #171716 0%, #1d1d1a 100%);
          color: #fff;
        }

        .gold-amount {
          font-weight: 700;
          line-height: 1.5;
        }

        .btn-payment {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          padding: 6px;
          min-width: 144px;
          border-radius: 32px;
          border: 2px solid transparent;
          background-image: linear-gradient(#1d1d1a, #1d1d1a), linear-gradient(to bottom, #977300 0%, rgba(255, 224, 124, 0.92) 21%, rgba(255, 245, 214, 0.81) 51%, rgba(140, 107, 0, 0.9) 69%, #ffd13b 100%);
          background-origin: border-box;
          background-clip: padding-box, border-box;
          text-decoration: none;
        }

        .price {
          line-height: 1.6;
          font-size: 20px;
          font-weight: 700;
          color: #fff;
        }
      }


    }

    &--description {
      line-height: 1.63;
      color: hsla(0, 0%, 100%, .6);

      .contents {
        &--title {
          font-size: 1.25rem;
          line-height: 1.6;
          font-weight: 700;
          color: #fff;
        }

        &__area {
          display: flex;
          align-items: center;
          flex-direction: column;
          row-gap: 24px;
          margin-top: 24px;
        }

        &--paragraph {
          margin-bottom: 16px;
          color: #fff;
          line-height: 1.5;
          font-size: 1rem;
          margin: 0;
        }
      }
    }

    &--manual {
      .contents {
        &--title {
          font-size: 1.25rem;
          line-height: 1.6;
          font-weight: 700;
          color: #fff;
          margin-bottom: 24px;
        }

        &--paragraph {
          color: #fff;
          line-height: 1.5;
        }
      }

      .link-underline {
        display: inline-block;
        position: relative;
        margin-top: 24px;
        padding-right: 14px;
        line-height: 1.5;
        color: #fff;
        vertical-align: top;
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          bottom: -2px;
          left: 0;
          border-top: 1px solid;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 4px);
          right: 0;
          width: 9px;
          height: 8px;
          background: url("https://file.mir4global.com/xdraco/img/mobile/hydra-payment/icon-arrow.webp") 50% 50% / contain no-repeat;
        }
      }
    }

    &--video {
      max-width: 640px;
      margin: 0 auto;
      padding: 0;
      width: 100%;

      .contents {
        &__wrapper {
          left: auto!important;
          width: auto!important;
          border-top: 0;
          padding: 0 0 40px;
        }

        &--iframe {
          padding-top: 56.25%;
          position: relative;
          transition: padding .3s;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .remark {
    font-size: 24px;
    color: #fff;
    line-height: 1.17;
    font-weight: 700;
    text-align: center;
    padding: 0 var(--section-padding-x);

    > em {
      color: #edf203;
      font-style: normal;
    }
  }
}

@include pc {
  .hydra-payment {
    --payment-bg-color: #111;
    --payment-top-title-color: #ffe600;
    --payment-section-margin-y: 80px;
    --payment-toggle-frame-width: 204px;
    --payment-toggle-frame-height: 54px;

    &__wrapper {
      padding-bottom: 160px;
      background: url("https://file.mir4global.com/xdraco/img/desktop/hydra-payment/bg-hydra-payment.webp") 50% 0 / auto 580px no-repeat;
    }

    .contents {
      padding: var(--payment-section-margin-y) var(--section-padding-x);
      max-width: 1008px;
      width: 100%;

      &--intro {
        padding-top: 150px;
        background: none;
        padding-bottom: 0;

        .contents {
          &__wrapper {
            padding: 0;
          }

          &--title {
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
            line-height: normal;
            align-items: center;

            span {
              font-size: 88px;
            }
          }

          &--sub-title {
            margin-top: 0;
            font-size: 56px;
          }

          &--description {
            margin-bottom: 0;
            width: 99%;
            font-size: 24px;
          }
        }
      }

      &--price {
        padding-bottom: 0;

        .contents {
          &--header {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            .toggle-currency {
              margin: 0;
            }
          }

          &__wrapper {
            padding-bottom: 0;
          }

          &--title {
            padding: 0;
            font-size: 24px;
          }
        }

        .grid-product {
          grid-template-columns: repeat(auto-fit, minmax(33%, auto));
        }
      }

      &--description {
        padding-bottom: 0;

        .contents {
          &__wrapper {
            padding-bottom: 0;
          }

          &--title {
            font-size: 24px;
          }

          &__area {
            flex-direction: row-reverse;
            justify-content: space-between;
            column-gap: 80px;
          }
        }
      }

      &--video {
        max-width: 960px;

        .contents__wrapper {
          padding-bottom: var(--payment-section-margin-y);
        }
      }

      .contents {
        &--title {
          font-size: 24px;
        }

        &--paragraph {
          color: hsla(0,0%,100%,.6);
        }
      }
    }

    .toggle-currency {
      background: url("https://file.mir4global.com/xdraco/img/desktop/exchange-rate-card/bg-toggle-frame.webp") 0 0 / cover no-repeat;

      .btn-currency {
        width: 97px;
        height: 44px;

        &.hyd,
        &[data-currency-value='hyd'] {
          &::after {
            background-image: url("https://file.mir4global.com/xdraco/img/desktop/exchange-rate-card/img-toggle-hyd-off.webp");
            background-size: 78px 24px;
          }
        }

        &.usd,
        &[data-currency-value='usd'] {
          &::after {
            background-image: url("https://file.mir4global.com/xdraco/img/desktop/exchange-rate-card/img-toggle-usd-off.webp");
            background-size: 58px 24px;
          }
        }

        &.currency--active,
        &.v-tab--active {
          &.hyd,
          &[data-currency-value='hyd'] {
            &::after {
              background-image: url("https://file.mir4global.com/xdraco/img/desktop/exchange-rate-card/img-toggle-hyd-on.webp");
            }
          }

          &.usd,
          &[data-currency-value='usd'] {
            &::after {
              background-image: url("https://file.mir4global.com/xdraco/img/desktop/exchange-rate-card/img-toggle-usd-on.webp");
            }
          }

          &::before {
            background: url("https://file.mir4global.com/xdraco/img/desktop/exchange-rate-card/bg-toggle-on.webp") 0 0 / cover no-repeat;
          }
        }
      }
    }

    .remark {
      font-size: 32px;
      line-height: 1.26;
      font-weight: 700;
      font-family: Roboto, sans-serif;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .hydra-payment .contents--price .grid-product .price {
    font-size: 1rem;
  }
  .exchange-rate-card__head {
    .standard-per .amount {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 340px) {
  .hydra-payment .contents--price .grid-product .price {
    font-size: 0.8rem;
  }
}
